/* graph */
.graph-container
{
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}
.chart {
        display: inline-block;
        margin-left: 10px;
	float:left;
	top: 0%;
}
.y_axis {
	float: left;
        width: 40px;
}
.y_label {
	float: left;
        width: 20px;
}

.x_axis {
	display: inline-block;
	margin-left: 70px;
	margin-top: -10px;
	opacity: 1 !important;
	color: #646464;
}
.x_label {
	position: absolute;
	right: 10%;
	bottom: -20;
}

.legend {
	position: absolute;
	right: 0;
	top: 0;
}
.rickshaw_graph {
	position: relative;
}
.rickshaw_graph svg {
	display: block;	
}
