doctype html5
html(lang="de")
  head
    title= pagetitle
    meta(charset='utf-8')
    link(type='text/css', href='css/bootstrap.min.css', rel='stylesheet')
    link(type='text/css', href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(type='text/css', href='css/slider.css', rel='stylesheet')
    link(type='text/css', href='css/rickshaw.min.css', rel='stylesheet')
    link(type='text/css', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css', rel='stylesheet')
    link(rel='stylesheet', href='css/Rickshaw/graph.css')

    script(type='text/javascript', src='socket.io/socket.io.js')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery-ui.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/bootstrap-slider.js')
    script(type='text/javascript', src='js/d3.min.js')
    script(type='text/javascript', src='js/rickshaw.min.js')
    script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    script(type='text/javascript', src='js/desktop.js')
  body
    block menu
    block content
    block settings
    block footer
