table{
    border: 0px solid black;
    table-layout: fixed;
    width: 440px;
}

td.rotate{
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    /* breaks firefox: filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); */ /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    white-space:nowrap;
    height:200px;
    overflow: visible;
}
